extends layout

block content
  .forum-container
    .forum-container__header 
      h1 Forum
      button(class="btn btn-black" id="addPost")
        i(class="fas fa-plus")
        | Nowy Temat
    .forum-container__posts
      .topics
        p Tematy
        p(class="topics__tab") Kategorie
        p(class="topics__tab") Użytkownicy
        p(class="topics__tab") Odpowiedzi
        p(class="topics__tab") Aktywność
      each post in posts
        .post
          p(class="question") 
            a(href='posts/'+post.id)= post.title
          p(class="post__category")
            span(class="box")  
            span(class="category") inne
          p 4
          p= post.comments.length
          p 3d
  #modal.add-post
    .add-post-content
      form(method="POST", action="/posts/add", autocomplete="off")
        .form-group
          i(class="fab fa-tumblr icon")
          input.form-control(type="text" name="title" autocomplete="off" required)
          label(for="title", class="label-name")
            span(class="content-name") Tytuł
        .form-group    
          i(class="fas fa-sticky-note icon")
          input.form-control(type="text" name="message" autocomplete="off" required)
          label(for="password", class="label-name")
            span(class="content-name") Wiadomość...
        input(type="submit" value="Dodaj", class="btn btn-black", style="margin-top: 30px;")
  script(src="/javascript/modal.js")



