doctype html
html
  head
    link(rel="stylesheet", href="stylesheets/style.css")
  body
    header.header
      nav
        ul.menu
          li.menu-item
            div.brand-logo
            img(src="images/logo.png" width="75" height="75")
          li.menu-item
            a Główna strona
          li(class="menu-item")
            a
              button.black-button
                img(src="images/user-icon-white.png", alt="user icon", width="12px", height="12px")
                span zaloguj się
          li.menu-item
            a
              img(src="images/search-icon.jpg", alt="search icon", width="19px", height="19px")
          li.menu-item
            a 
              div.burger
                span
                span
                span
  main
    input(type="text")
    section
      img(src="images/hero-image.jpg", alt="alt")
          

