extends layout

block content
  main.home
    input(type="text" id="search-input" placeholder="Wyszukaj..." class="home__search-input")
    section.home-section
      img(src="/images/hero-image.jpg", alt="Ludzie trzymajcy serce" class="home__image" width="250" height="250" class="home-section__image")
      div.home-section-box
        p.home-section-box__description.
          Dzięki serwisowi znajdziesz osoby,  
          które pomogą ci 
          w codziennych czynnościach, 
          za niewielką opłatą
        p.home-section-box__arrow Spróbuj sam!




