doctype html
html(lang="pl-Pl")
  head
    link(rel="stylesheet", href="/stylesheets/css/main.css")
    script(src="https://kit.fontawesome.com/871720370b.js", crossorigin="anonymous")
    
  body
    
    header.header
      nav
        ul.menu
          li.menu-item
            div.brand-logo
            img(src="/images/logo.png" width="75" height="75") 
          li.menu-item
            a(href="/forum") Forum
          if !_id
            li(class="menu-item")
                a(href="/users/login")
                  button.btn.btn-black
                      i(class="fas fa-user")
                      span zaloguj się
          else
            li(class="menu-item")
              a(href="/users/me")
                button.btn.btn-black
                      i(class="fas fa-user")
                      span profile
          li.menu-item
            a(href="/")
              img(src="/images/search-icon.jpg", alt="search icon", width="19px", height="19px")
          li.menu-item
            button(class="btn") 
                div.burger
                  span
                  span
                  span
            ul(class="menu-item__submenu")
              li 
                a(href="/users/logout") Wyloguj
        != messages('messages', locals)
        if errors
          each error, i in errors
            div(class="alert alert-danger") #{error.msg}
    block content

    footer.footer
        p Copyright 2020
        span © 
        p Adrian Turbiński