extends layout

block content
    .login-box
        img(src="/images/login.jpg")
        .login-box__form
            form(method="POST", action="/users/login")
                .form-group
                    i(class="fas fa-envelope icon")
                    input.form-control(type="email" name="username" autocomplete="off" required)
                    label(for="email", class="label-name")
                        span(class="content-name") Email
                .form-group    
                    i(class="fas fa-key icon")
                    input.form-control(type="password" name="password" autocomplete="off" required)
                    label(for="password", class="label-name")
                        span(class="content-name") Password
                input(type="submit" value="ZALOGUJ", class="btn btn-black")
                p Zapomniałeś 
                    a(href="/retrive") hasła?
            a(href="/users/register" class="login-box__link") Stwórz nowe konto ➜
