.login-box {
    width: 100%;
    @include flex;
    min-height: calc(100vh - 170px);
    &__form {
        margin-left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        input[type="submit"] {
            padding: 6px 10px;
            margin: 0;
            background-color: black;
            color: #ffffff;
            text-align: center;
            transition: background 250ms ease-in-out, transform 150ms ease;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        input[type="submit"]:hover,
        input[type="submit"]:focus {
            background: #0053ba;
        }

        input[type="submit"]:focus {
            outline: 1px solid #fff;
            outline-offset: -4px;
        }

        input[type="submit"]:active {
            transform: scale(0.99);
        }
        p {
            text-align: center;
            margin-top: 10px;
        }
        form {
            display: grid;
            grid-template-columns: 200px;
            grid-template-rows: repeat(3, 90px) 70px 80px;
            justify-items: center;
            & div:nth-child(1) {
                grid-row: 2 / 3;
            }
            & div:nth-child(2) {
                grid-row: 3 / 4;
            }
            & input:nth-child(3) {
                grid-row: 4 / 5;
            }
            & p:nth-child(4) {
                grid-row: 5 / 5;
            }
        }
    }
}

.icon {
    position: absolute;
    right: 4px;
    bottom: 6px;
}
