@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
    font-family: "Lato", sans-serif;
}

.menu-item {
    font-size: 16px;
    font-weight: bold;
}

.black-button span {
    font-weight: bold;
}

.home-section-box__description, .home-section-box__arrow {
    font-size: 18px;
    font-weight: bold;
}