.form-container {
    @include flex;
    width: 100%;
    height: 500px;
    .form {
        margin-top: 75px;
        box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
        border-radius: 20px;
        padding: 10px 20px;
        position: relative;
        .btn {
            display: inline-block;
            width: 150px;
            padding: 0.3em 1.2em;
            margin: 0 0.1em 0.1em 0;
            border: 0.16em solid #969bc9;
            border-radius: 2em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            color: #969bc9;
            text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
            text-align: center;
            transition: all 0.2s;
            position: absolute;
            right: 3%;
            &:hover {
                color: #fff;
                text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
                background-color: #969bc9;
            }
        }
    }
    .register-header {
        text-align: center;
        margin-bottom: 40px;
    }
    .register-form {
        justify-items: center;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 70px 70px 70px 70px;
        width: 650px;
        height: auto;
        column-gap: 30px;
        padding: 10px 20px;
        &__image {
            grid-column: 1 / 2;
            grid-row: 1 / 5;
        }
    }
}

.icon {
    position: absolute;
    right: 4px;
    bottom: 6px;
}

.modal {
    position: absolute;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    left: 40%;
    top: 3%;
    animation: modal 2s 1;
    transition: all 0.5 ease;
    padding: 20px 30px;
    li {
        list-style-type: none;
        margin-bottom: 10px;
        font-size: 20px;
    }
    button {
        background-color: transparent;
        border: none;
        outline: none;
    }
}

@keyframes modal {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.form-group {
    width: 100%;
    position: relative;
    height: 60px;
    overflow: hidden;
    input.form-control {
        width: 80%;
        height: 100%;
        color: #595f6e;
        font-size: 12px;
        border: none;
        outline: none;
        padding: 20px 0 5px 2px;
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
            box-shadow: 0 0 0 30px white inset !important;
        }
    }
    label.label-name {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid black;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 100%;
            width: 100%;
            border-bottom: 3px solid #969bc9;
            transform: translateX(-100%);
            transition: transform 0.3s ease;
        }
        .content-name {
            position: absolute;
            bottom: 5px;
            left: 0;
            transition: all 0.3s ease;
        }
    }
    & input.form-control:focus + .label-name .content-name,
    & input.form-control:valid + .label-name .content-name {
        transform: translatey(-150%);
        font-size: 14px;
        color: #969bc9;
    }

    & input.form-control:focus + .label-name::after,
    & input.form-control:valid + .label-name::after {
        transform: translateX(0%);
    }
}

.add {
}
