.footer {
    background-color: #3F3939;
    color: #fff;
    @include flex;
    height: 70px;
    width: 100%;
    p {
        margin: 0 7px;
    }
    span {
        color: #21b943;
    }
}
