$black-color: "#443F3F";
$purple-color: "#969BC9";
$light-blue: "#E9EBFF";
$green-color: "#21B943";

$dirty-white-color: '#F5F2F2';
$dirty-light-blue-color: '#E6E7F2';

$red-color: '#F96056';
$yellow-color: '#FBBF2D';
$light-green-color: '#29CD41';

$ocean-blue-color: '#B8D0E7';
$burgundy-color: "#BCACAC";
